/* Reset de estilos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Estilos do cabeçalho */
.header {
  background-color: #005f6b;
  color: #fff;
  padding: 1rem;
}

.header__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 1rem;
}

.header__nav-link {
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #999;
}

/* Estilos das seções */
.section__title {
  font-size: 1.5rem;
}

.section__description {
  color: #005f6b;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.skills {
  background-color: #f2f2f2;
  padding: 40px 0;
  text-align: center;
}

.skills-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list img {
  width: 90px;
  height: 90px;
  margin: 0 10px;
}

.skill{
  display: grid;
  text-align: center;
}

/* Estilos para seção de projetos */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.project-card {
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
  height: 25%;
}

.project-link {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #555;
}

.contact-form {
  margin-top: 20px;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
}

.contact-form label,
.contact-form input {
  margin: 5px;
  width: 45%;
}

.contact-form label {
  margin-bottom: 5px;
}

.contact-form input {
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 100px;
  margin-left: 4px;
  margin-right: 10px;
  width: 45%;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
}

.contact-form button:hover {
  background-color: #23527c;
}

/* Estilos do rodapé */
.footer {
  background-color: #005f6b;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer__contact {
  margin-bottom: 10px;
}

.footer__contact i {
  margin-right: 5px;
}

.footer__contact a {
  color: #fff;
  text-decoration: none;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.footer__social {
  margin-top: 10px;
}

.footer__social a {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.footer__social a:hover {
  color: #ccc;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 1.5rem;
  }

  .header__nav {
    justify-content: flex-end;
  }

  .header__nav-list {
    flex-direction: row;
  }

  .header__nav-item {
    margin: 0.5rem 10;
  }

  .section__title {
    font-size: 1.2rem;
  }
}
